:root {
  --text-color-main: #212121;
  --logo-text-color: #000000;
  --text-color-secondary: #757575;
  --accent-color: #2196f3;
  --accent-color-hover: #188ce8;
  --main-bg-color: #e5e5e5;
  --secondary-bg-color: #f5f4fa;
  --dark-grey-bg-color: #2f303a;
  --white-color: #ffffff;
  --address-color: #ffffffa0;
}

body {
  font-family: Roboto, sans-serif;
  background-color: var(--white-color);
  color: var(--text-color-main);
  font-size: 14px;
  letter-spacing: 0.03em;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

/* -------------------------- universal container ----------------*/

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* ----------------------- HEADER ----------------------  */

.header-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--logo-text-color);
  margin-right: 65px;
}

.header-logo > span {
  color: var(--accent-color);
}

.header > .container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header-nav-list {
  display: flex;
}

.header-contacts {
  margin-left: auto;
  display: flex;
}

.header .header-nav-link {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  display: inline-block;
  position: relative;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-right: 25px;
  margin-left: 25px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}

.header-nav-link:hover,
.header-nav-link:focus,
.header-nav-link.active {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.header-nav-link::after,
.header-nav-link::after {
  content: "";
  width: 100%;
  transition-property: height;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-block;
  height: 0;
  background-color: var(--accent-color);
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 4px;
}

.header-nav-link:hover::after,
.header-nav-link:focus::after,
.header-nav-link.active::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 4px;
}

.header-contacts-mail,
.header-contacts-tel {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--text-color-secondary);
  padding: 25px;
  display: inline-flex;
  align-items: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}

.header-contacts-mail:hover,
.header-contacts-tel:hover,
.header-contacts-mail:focus,
.header-contacts-tel:focus {
  color: var(--accent-color);
}

.mail-icon {
  margin-right: 10px;
  fill: currentColor;
}

.phone-icon {
  margin-right: 10px;
  fill: currentColor;
}
/* -------------------------------- MAIN --------------------------  */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--dark-grey-bg-color);
  background-image: linear-gradient(
      to top,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
}

.hero-head {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  width: 696px;
  margin: 0 auto;
}

.hero-btn {
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: calc(30 / 16);
  text-align: center;
  letter-spacing: 0.06em;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  color: var(--white-color);
  cursor: pointer;
  display: block;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 0px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}

.hero-btn:focus,
.hero-btn:hover {
  background-color: var(--accent-color-hover);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features-list {
  display: flex;
}

.features-list-item:not(:last-child) {
  margin-right: 30px;
}

.features-list-item-header {
  background-color: var(--secondary-bg-color);
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.features-list-item-head {
  font-weight: bold;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features-list-item-text {
  font-weight: normal;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--text-color-secondary);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.about.section {
  padding-top: 0px;
}

.about-list {
  display: flex;
}

.about-list-item {
  position: relative;
}

.about-list-item:not(:last-child) {
  margin-right: 30px;
}

.about-head {
  font-weight: bold;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.about-list-item-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 80%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-footer-text {
  text-transform: uppercase;
  color: var(--white-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
}

.team {
  background-color: var(--secondary-bg-color);
}

.team-list {
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
}

.team-head {
  font-weight: bold;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.team-list-item {
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-left: 15px;
  margin-right: 15px;
}

.team-item-head {
  font-weight: 500;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 5px;
}

.team-item-text {
  font-weight: normal;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color-secondary);
  margin-top: 5px;
  margin-bottom: 16px;
}

.team-item-footer {
  padding-bottom: 30px;
  padding-top: 30px;
}

.team-member-social-list {
  display: flex;
  justify-content: space-between;
  width: 206px;
  margin: 0 auto;
}

.team-member-social-link {
  height: 44px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  border-radius: 50%;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}

.team-member-social-link:hover,
.team-member-social-link:focus {
  background-color: var(--accent-color);
}

.team-social-icon {
  fill: #afb1b8;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
}

.team-member-social-link:hover .team-social-icon,
.team-member-social-link:focus .team-social-icon {
  fill: var(--white-color);
}

.clients {
  display: flex;
  justify-content: space-between;
}

.clients-header {
  font-family: Roboto;
  font-style: normal;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  margin-bottom: 50px;
}

.client-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  border: 1px solid #afb1b8;
  border-radius: 3px;
  color: #afb1b8;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border, color;
}

.client-link:hover,
.client-link:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.client-icon {
  fill: currentColor;
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-button {
  background-color: var(--secondary-bg-color);
  border: 0px;
  cursor: pointer;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color-main);
  border-radius: 4px;
  padding: 8px 22px;
  margin: 0 4px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color, box-shadow, color;
}

.filter-button.active,
.filter-button:hover,
.filter-button:focus {
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--white-color);
}

.projects {
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: -30px;
  margin-right: -30px;
}

.project {
  background: var(--white-color);
  box-sizing: border-box;
  margin-top: 30px;
  margin-right: 30px;
}

.project-link {
  display: inline-block;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: box-shadow;
}

.project-thumb {
  position: relative;
  overflow: hidden;
}

.project-description-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100%;
  background-color: rgba(33, 150, 243, 80%);
  display: block;
  transition-property: top;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
}

.project-link:hover .project-description-overlay,
.project-link:focus .project-description-overlay {
  top: 0;
}

.project-description {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* .project-link:hover .project-img-thumb::after,
.project-link:focus .project-img-thumb::after {
  top: 0;
} */

.project:nth-child(3n) {
  margin-right: 0px;
}

.project-head {
  font-weight: bold;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--text-color-main);
  margin-bottom: 4px;
}

.project-text {
  font-weight: normal;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--text-color-secondary);
}

.project-footer {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

/* -------------------------  FOOTER  ------------------------- */
.footer {
  background-color: var(--dark-grey-bg-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer > .section {
  padding-top: 0;
  padding-bottom: 0;
}

.footer-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--white-color);
  margin-bottom: 20px;
  display: inline-block;
}

.footer-logo > span {
  color: var(--accent-color);
}

.footer-contacts > li:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contacts-address > a,
.footer-contacts-address > a:visited {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--white-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}

.footer-contacts-address > a:hover,
.footer-contacts-address > a:focus {
  color: var(--accent-color);
}

.footer-contacts-mail,
.footer-contacts-tel {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--address-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}

.footer-contacts-mail:hover,
.footer-contacts-tel:hover,
.footer-contacts-mail:focus,
.footer-contacts-tel:focus {
  color: var(--accent-color);
}

.footer-social-head {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
}

.footer-social-block {
  margin-left: 70px;
}

.footer-social-list {
  display: flex;
  width: 206px;
  justify-content: space-between;
}

.footer-social-link {
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
}

.footer-social-link {
  fill: var(--white-color);
}

.footer-subscription-block {
  margin-left: auto;
  width: 570px;
  /* outline: 1px solid white; */
}

.footer-subscription-title {
  font-weight: bold;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
}

.footer-subscription-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-subscription-input {
  background-color: transparent;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 15px 16px;
  font-weight: normal;
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.footer-subscription-input:focus-visible,
.footer-subscription-input:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}

.footer-subscription-input::placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-subscription-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  /* padding: 10px 28px; */
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscription-button:hover {
  background-color: var(--accent-color-hover);
}

.footer-subscription-button-icon {
  fill: var(--white-color);
  margin-left: 10px;
}

/* -----------------------  MODAL WINDOW ----------------------- */

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  visibility: visible;
  opacity: 1;
  scale: 1;
  transition-duration: 250ms;
  transition-property: opacity, scale, visibility;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-backdrop.is-hidden {
  opacity: 0;
  visibility: visible;
  scale: 0.1;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  width: 528px;
  height: 581px;

  background-color: var(--white-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.close-modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 24px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition-property: color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal-button:hover {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.modal-title {
  margin-bottom: 12px;
  text-justify: auto;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color-main);
}

.input-wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-bottom: 10px;
  color: var(--text-color-secondary);
}

.modal-input {
  width: 100%;
  height: 40px;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  margin-top: 4px;
  border: 1px solid #21212133;
  border-radius: 4px;
  outline: none;
  padding-left: 42px;
}

.modal-input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
}

.modal-input:focus-visible {
  border: 1px solid var(--accent-color);
  outline: none;
}

.modal-input:focus-visible + .modal-input-icon,
.modal-input:focus + .modal-input-icon {
  fill: var(--accent-color);
}

.modal-input.textarea {
  height: 120px;
  padding: 12px 16px;
}

.textarea {
  resize: vertical;
}

.textarea::placeholder {
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox-wrapper {
  position: relative;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.modal-subscription-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 15px;
  border: 2px solid var(--logo-text-color);
  border-radius: 2px;
  margin-right: 8px;
  /* pointer-events: none; */
  transform-origin: border, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox-icon {
  fill: var(--white-color);
}

#subscription-agreement:checked + .modal-subscription-checkbox {
  border: 2px solid var(--accent-color);
  background-color: var(--accent-color);
}

.modal-checkbox {
  position: absolute;
  border: none;
  background-color: transparent;
  outline: none;
  left: 14px;
  top: 1px;
  opacity: 0;
  z-index: 1;
}

.modal-checkbox:checked {
  position: absolute;
  border: none;
  background-color: transparent;
  outline: none;
  left: 13px;
  top: 2px;
  opacity: 0;
  z-index: 1;
}

.modal-submit-button {
  display: block;
  padding: 10px 55px;
  height: 50px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  color: var(--white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  text-align: center;
  letter-spacing: 0.06em;
}

.modal-submit-button:hover {
  background-color: var(--accent-color-hover);
}
